* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(35, 35, 61);
  color: white;
}

input {
  outline: none;
  border: none;
  height: 100%;
  padding: 2px 6px;
}

.editing {
  background: none;
  color: #060d1c;
  text-align: center;
  font-size: 1rem;
  width: 100%;
}

.todo {
  text-align: center;
  font-family: sans-serif;
}

.todo h2 {
  margin: 2rem;
}

.container {
  padding: 1rem;
  margin: 1rem auto;
  max-width: 800px;
}

.btn {
  border-radius: 5px;
  border: none;
  background: rgb(54, 54, 88);
  color: white;
  padding: 6px;
  cursor: pointer;
  font-weight: 800;
}

.btn:disabled {
  cursor: not-allowed;
  background: rgb(91 91 107);
}

.btn:disabled:hover {
  background: rgb(91 91 107);
}

.btn:hover {
  background: rgb(78, 78, 122);
}

.todoList {
  margin: 1rem 0;
}

.list {
  border-radius: 10px;
  display: flex;
  /* grid-auto-rows: 1fr 10% 10%; */
  gap: 1rem;
  padding: 6px 12px;
  margin: 5px 0;
  justify-content: space-between;
  background: #060d1c;
  align-items: center;
}

.list.done {
  background: #496bb3;
}

.buttons {
  display: flex;
  gap: 6px;
}

.content {
  flex-grow: 2;
}

.list.edit {
  background: #8ff988;
}

.list.done p {
  color: rgba(255, 255, 255, 0.549);
  text-decoration: line-through;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.filter input {
  flex-grow: 2;
}

@media (max-width:500px) {
  .list {
    flex-direction: column;
  }
}